@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @include dark-mode;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark-mode {
  @include dark-mode;
}

.light-mode {
  @include dark-mode($dark-theme: false);
}
